<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', category_product_path(@product.category, @product) %> |
<%= link_to 'Back', edit_category_product_path(@product.category, @product) %>
